{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Sign In</h3>
    <form action="{{ url_for('login') }}" method="post">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input required class="form-control" name="email" type="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input required class="form-control" name="password" type="password">
      </div>
      <div class="mb-3">
        <label class="form-label">Role</label>
        <select class="form-select" name="role">
          <option value="normal" selected>Normal</option>
          <option value="developer">Developer</option>
        </select>
      </div>
      <button class="btn btn-primary">Sign in</button>
      <a class="btn btn-link" href="{{ url_for('register') }}">New user? Register</a>
    </form>
  </div>
</div>
{% endblock %}
